<div>
	<!-- Container -->
	<div class="container-md container-fluid content-container">
		<div class="error404Image">
			<img src="../../../assets/images/logo.svg" alt="logo" />
		</div>
		<div class="mt-2">
			<p class="error404Title">404 - Page not found</p>
			<p class="error404Description">
				The Page you are looking for doesn't exist or an other error occurred.
				<br />Go back, or head over to
				<a href="/">jobhub</a>
				to choose new direction.
			</p>
		</div>
	</div>
	<!-- Container -->

	<!-- Footer -->
	<footer>
		<a href="./">
			<span class="logoTitleFooter"
				><img src="../../../assets/images/logo.svg" alt="logo" /></span
		></a>
		&copy;2021
	</footer>
	<!-- Footer -->
</div>
