<div>
	<!-- Container -->
	<div class="container-md container-fluid content-container">
		<div class="error502Image">
			<img src="../../../assets/images/logo.svg" alt="logo" />
		</div>
		<div class="mt-5">
			<p class="error502Title">502 - Bad gateway</p>
			<p class="error502Description">
				The server encountered a temporary error and could not complete your
				request.
				<br />Please try again in 30 seconds, or go back to
				<a href="/">jobhub</a>.
			</p>
		</div>
	</div>
	<!-- Container -->

	<!-- Footer -->
	<footer>
		<a href="./">
			<span class="logoTitleFooter"
				><img src="../../../assets/images/logo.svg" alt="logo" /></span
		></a>
		&copy;2021
	</footer>
	<!-- Footer -->
</div>
