<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>502 Page</title>

		<link
			rel='shortcut icon'
			href='../../images/logo.ico'
			type='image/x-icon'
		/>

		<link
			href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'
			rel='stylesheet'
			integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3'
			crossorigin='anonymous'
		/>
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
			integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
		/>

		<link rel='stylesheet' type='text/css' href='../../stylesheet/style.css' />
		<link
			rel='stylesheet'
			type='text/css'
			href='../../stylesheet/error-page.css'
		/>

		<script
			src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
			integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
			crossorigin='anonymous'
		></script>
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js'
			integrity='sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=='
			crossorigin='anonymous'
			referrerpolicy='no-referrer'
		></script>
	</head>
	<body>
		<!-- Container -->
		<div class='container-md container-fluid content-container'>
			<div class='error502Image'>
				<img src='../../images/502.svg' alt='logo' />
			</div>
			<div class='mt-5'>
				<p class='error502Title'>502 - Bad gateway</p>
				<p class='error502Description'>
					The server encountered a temporary error and could not complete your
					request.
					<br />Please tyr again in 30 seconds, or go back to
					<a href='/'>jobhub</a>.
				</p>
			</div>
		</div>
		<!-- Container -->

		<!-- Footer -->
		<footer>
			<a href='/'>
				<span class='logoTitleFooter'><img
						src='../../images/logo.svg'
						alt='logo'
					/></span></a>
			&copy;{{getYear}}
		</footer>
		<!-- Footer -->
	</body>
</html>