<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JobHub</title>

		<link
			rel="shortcut icon"
			href="../../images/logo.ico"
			type="image/x-icon"
		/>

		<link rel="stylesheet" href="../../stylesheet/main-page.css" />
		<link rel="stylesheet" href="../../stylesheet/style.css" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<!-- Header -->
		<header>
			<nav class="navbar navbar-expand-md navbar-light">
				<div class="container">
					<a class="navbar-brand" href="./user-main"
						><span class="logoTitleHeader"
							><img src="../../images/logo.svg" alt="logo" /></span
					></a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item ms-3 mb-2 mb-lg-0">
								<a
									class="nav-link"
									href="./resume-preview"
									aria-current="page"
									><b>Edit resume</b></a
								>
							</li>
							<li class="nav-item ms-3 mb-2 mb-lg-0">
								<a
									class="nav-link"
									href="./user-profile"
									aria-current="page"
									><b>Profile</b></a
								>
							</li>
							<li class="nav-item ms-3 mb-2 mb-lg-0">
								<a href="./" class="signOut btn btn-primary">Sign Out</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- Header -->

		<div class="container main-container-outer">
			<div class="row main-container">
				<div class="side-window col-md-1">
					<i class="fas fa-times-circle fa-3x"></i>
				</div>
				<div class="central-window col-md-10">
					<div class="fluid-container full-height">
						<div class="row full-height">
							<div class="poster-contact col-md-6">
								<div>
									<p>Company name</p>
									<h4>Google inc.</h4>
								</div>
								<div>
									<p>Email</p>
									<h4>google@gmail.com</h4>
								</div>
								<div>
									<p>Phone number</p>
									<h4>051 655 048</h4>
								</div>
								<div>
									<p>Country</p>
									<h4>United states of America</h4>
								</div>
							</div>
							<div class="job-description col-md-6">
								<h5 class="description-title">Junior developer wanted!</h5>
								<p>Description</p>
								<p>
									Lorem Ipsum is simply dummy text of the printing and
									typesetting industry. Lorem Ipsum has been the industry's
									standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type
									specimen book. It has survived not only five centuries.
								</p>
								<p>Expectations</p>
								<p>
									Lorem Ipsum is simply dummy text of the printing and
									typesetting industry. Lorem Ipsum has been the industry's
									standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make.
								</p>
								<p>Other</p>
								<p>
									Lorem Ipsum is simply dummy text of the printing and
									typesetting industry. Lorem Ipsum has been the industry's
									standard dummy text ever since the 1500s.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="side-window col-md-1">
					<i class="fas fa-check-circle fa-3x"></i>
				</div>
			</div>
		</div>

		<footer>
			<a href="user-main">
				<span class="logoTitleFooter"
					><img src="../../images/logo.svg" alt="logo" /></span
			></a>
			&copy;{{getYear}}
		</footer>
	</body>
</html>
